@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: rgb(25, 29, 36);
  --bg-dots: #ffffffd6;
  --bg-upload-main: rgb(73, 73, 73);
  --bg-plus: rgb(25, 29, 36);
  /* --bg-dots: #ffffff70; */
}

html,
body {
  background: linear-gradient(90deg, var(--bg-main) 15px, transparent 1%) 50%,
    linear-gradient(var(--bg-main) 15px, transparent 1%) 50%, var(--bg-dots);
  background-size: 16px 16px;
}
